.splash {
    background: var(--ion-color-eliiot-home);
    height:100vh;
    margin: 0;
    div {
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}